
#version=DEVEL
# System authorization information
auth --useshadow  --passalgo=sha512
# Install OS instead of upgrade
install
# Use network installation
url --url="http://10.254.192.60/CentOS7/pxe/"
# Use graphical install
graphical
# Firewall configuration
firewall --disabled
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda,sdb,sdc,sdd,sde,sdf,sdg,sdh,sdi
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Installation logging level
logging --level=info
# Network information
network  --bootproto=dhcp --device=link --activate
network  --bootproto=dhcp --hostname=localhost.localdomain
# Reboot after installation
reboot
# Root password
rootpw --plaintext infra@2014
# SELinux configuration
selinux --permissive
# System services
services --enabled="chronyd"
# System timezone
timezone Etc/UTC --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdi
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part raid.198 --fstype="mdmember" --ondisk=sdb --size=8200
part raid.216 --fstype="mdmember" --ondisk=sda --size=1517984
part /boot/efi --fstype="efi" --ondisk=sdi --size=200 --fsoptions="defaults,uid=0,gid=0,umask=0077,shortname=winnt"
part /boot --fstype="ext4" --ondisk=sdi --size=1024
part raid.228 --fstype="mdmember" --ondisk=sdb --size=1517984
part raid.210 --fstype="mdmember" --ondisk=sda --size=8200
raid swap --device=1 --fstype="swap" --level=RAID1 raid.210 raid.198
raid / --device=0 --fstype="ext4" --level=RAID1 raid.216 raid.228

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
